#shop{
    padding: 60px 0;
    .side_filter{
        .filters_item{
            padding-top: 15px;
            border-bottom: 1px solid #BDBDBD;
            .filter_header{
                display: flex;
                justify-content: space-between;
                padding-bottom: 15px;
                h4{
                    @include text(16px,500,$blue);
                }
                a{
                    @include text(16px,400,#595959);
                    
                }
            }
            ul{
                li{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 12px;
                    &.disble{
                        opacity: 20%;
                    }
                    .input-checkbox{
                        display: flex;
                        align-items: center;
                        input[type="checkbox"]{
                            appearance: none;
                            border: 2px solid transparent;
                            width: 20px;
                            height: 20px;
                            background: #B3D4E5;
                            border-radius: 8px;
                            margin-right: 10px;
                            &:checked{
                                background: #3F3F3F;
                                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
                                border: 2px solid #A5A5A5;
                            }
                        }
                        label{
                            @include text(16px,400,#222);
                        }
                    }
                }
            }
            &.color{
                ul{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    li{
                        a{
                            .circle{
                                width: 15px;
                                height: 15px;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
    .product_list{
        .product_details{
            border: 1px solid #B6B6B6;
            border-radius: 20px;
            height: 315px;
            margin-bottom: 30px;
            .product_img{
                text-align: center;
                position: relative;
                .ovrly{
                    position: absolute;
                    top: 10px;
                    right: 20px;
                    a{
                        background: #B3D4E5;
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                        text-align: center;
                        line-height: 30px;
                        font-size: 18px;
                        color: #292D32;
                    }
                }
            }
            .pricing_stars{
                padding: 22px 13px;
                h6{
                    @include text(18px,500,$blue);
                    padding-bottom: 15px;
                }
                p{
                    @include text(18px,600,#4A4A4A);
                    padding-bottom: 15px;
                    del{
                        @include text(12px,300,#4A4A4A);
                    }
                }
                i{
                    color: $hover;
                    font-size: 16px;
                }
            }
            .adding_card{
                margin-top: 20px;
                padding: 22px 10px;
                display: flex;
                justify-content: space-between;
                align-self: center;
                display: none;
                a{
                    &.add_cart{
                        background: #87BCD9;
                        border-radius: 20px;
                        padding: 10px 20px;
                        @include text(16px,600,#272727);
                        i{
                            margin-left: 20px;
                            padding: 1px 5px;
                            text-align: center;
                            line-height: 30px;
                            font-size: 18px;
                            color: #fff;
                            background: $hover;
                            border-radius: 50%;
                        }
                    }
                    &.visible{
                        padding: 10px 15px;
                        background: #87BCD9;
                        border-radius: 20px;
                        i{
                            color: #272727;
                            font-size: 18px;
                        }
                    }
                }
            }
            &:hover{
                .pricing_stars{
                    display: none;
                }
                .adding_card{
                    display: inline-block;
                }
            }
        }
    }
}