/* ============================== BreadCrumb Part Start =================================== */
#breadcrumb{
    padding: 25px 0;
    nav{
        ol{
            li{
                margin-right: 55px;
                @include text(16px,500,#3A3A3A);
                a{
                    @include text(16px,500,#3A3A3A);
                }
                &::before{
                    display: none;
                }
                position: relative;
                &:not(:first-child){
                    &::after{
                        position: absolute;
                        content: '>';
                        top: 50%;
                        transform: translateY(-50%);
                        left: -30px;
                        color: #3A3A3A;
                        font-size: 30px;
                    }
                }
            }
        }
    }
}
/* ============================== BreadCrumb Part End =================================== */