:root{
    --hover: #EDA415;
}
@media(min-width:1400px) {}

@media(min-width:1200px) and (max-width:1399.98px) {}

@media(min-width:992px) and (max-width:1199.98px) {
    #clients .clients_slider .client_item .clients_item {
        height: 280px;
    }
    #service .service_row {
        padding: 44px 20px;
    }
    #service .service_row .service_content .details p {
        font-size: 15px;
    }
    #rv .rv_silder_nav .slick-list {
        height: 450px !important;
    }
    #popular_product .product_topbar .filters a {
        padding: 10px 34px;
    }
    #category {
        padding: 50px 0;
    }
    #banner .banner_slider .banner_item .banner_img img{
        width: 100%;
    }
    #banner .banner_slider .banner_item .banner_img .ovrly_price {
        bottom: 5px;
    }
    #main_menu .menu_part ul li {
        margin-left: 20px;
    }
    #header .header_bottom .side_nav a {
        margin-left: 10px;
    }
    #related_product .related_product_details {
        height: 350px;
    }
}

@media(min-width:768px) and (max-width:991.98px)  {
    /* ##################################### Common Css  #####################################*/
    .header{
        padding-bottom: 20px;
    }
    .header h2 {
        font-size: 20px;
        font-weight: 600;
        color: #003F62;
        padding-bottom: 0;
        display: inline-block;
    }
    .header a {
        font-size: 20px;
        font-weight: 500;
        color: #003F62;
        display: inline-block;
    }
    /* ##################################### Heading Css Start  #####################################*/
    #header .header_bottom .side_nav {
        display: none;
    }
    #header .header_bottom .logo {
        text-align: center;
        margin-bottom: 10px;
    }
    /* ##################################### Heading Css End  #####################################*/
    

    /* ##################################### Navigation CSS Start ##################################### */
    #main_menu {
        background: #fff;
        padding: 0 !important;
    }
    #main_menu .mobile_menu_button {
        display: block;
        background: var(--hover);
        color: #fff;
        border: none;
        padding: 20px 30px;
        border-radius: 0;
        font-size: 18px;
    }
    #main_menu .mobile_menu_button:focus {
        box-shadow: none;
    }
    #main_menu .nav_offcanvas{
        width: 250px !important;
    }
    #main_menu .nav_offcanvas .mobile_menu_header a{
        font-size: 26px;
        font-weight: 700;
        color: var(--hover);
        line-height: 37px;
        letter-spacing: -0.03em;
    }
    #main_menu .nav_offcanvas .mobile_menu_header button:focus{
        box-shadow: none;
    }
    #main_menu .nav_offcanvas .mobile_menu_body{
        text-align: center;
    }
    #main_menu .nav_offcanvas .mobile_menu_body ul li{
        margin: 5px 0;
    }
    #main_menu .nav_offcanvas .mobile_menu_body ul li a{
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        color: #242424;
        position: relative;
    }
    #main_menu .nav_offcanvas .mobile_menu_body ul li a::before {
        position: absolute;
        content: "";
        right: 0;
        bottom: 8px;
        width: 100%;
        height: 3px;
        background: var(--hover);
        transform-origin: right center;
        transform: scale(0, 1);
        transition: transform 0.4s ease;
    }
    #main_menu .nav_offcanvas .mobile_menu_body ul li a:hover {
        color: var(--hover);
    }
    #main_menu .nav_offcanvas .mobile_menu_body ul li a:hover::before {
        transform-origin: left center;
        transform: scale(1, 1);
    }
    #main_menu .nav_offcanvas .mobile_down_bar{
        text-align: left;
    }
    #main_menu .nav_offcanvas .mobile_down_bar a{
        font-size: 14px;
        font-weight: 400;
        color: #242424;
        position: relative;
        display: block;
        margin-bottom: 10px;
    }
    #main_menu .nav_offcanvas .mobile_down_bar a .badge-hover {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 15px;
        height: 15px;
        text-align: center;
        background: #EDA415;
        border-radius: 50%;
        line-height: 15px;
        font-size: 9px;
        font-weight: 400;
        color: #fff;
    }
    #main_menu .nav_offcanvas .mobile_down_bar a i{
        color: #242424;
        padding: 20px 10px;
    }
    #main_menu .nav_offcanvas .mobile_down_bar a:hover i{
        color: var(--hover);
    }
    #main_menu .right_bar{
        display: none;
    }
    #main_menu .return_msg{
        display: none;
    }
    /* ##################################### Navigation CSS End ##################################### */

    /* ##################################### Banner CSS Start ##################################### */
    #banner .banner_slider .banner_item .banner_text{
        text-align: center;
        padding-bottom: 60px;
    }
    #banner .banner_slider .banner_item .banner_text a {
        padding: 18px 20px;
        margin: 0 10px;
    }
    #banner .banner_slider .slick-dots {
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
    }
    /* ##################################### Banner CSS End ##################################### */

    /* ##################################### Category CSS Start ##################################### */
    #category {
        padding: 50px 0;
    }
    /* ##################################### Category CSS End ##################################### */

    /* ##################################### popular_product CSS End ##################################### */
    #popular_product {
        padding: 0 0 40px 0;
    }
    #popular_product .product_topbar .filters {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    #popular_product .product_topbar .filters a {
        margin: 20px 0;
    }
    /* ##################################### popular_product CSS End ##################################### */

    /* ##################################### Recently Viewed CSS Start ##################################### */
    #rv .rv_silder_nav .slick-list {
        height: 400px !important;
    }
    #rv .rv_silder_nav{
        display: flex;
        justify-content: center;
    }
    #rv .rv_silder_nav .rv_right{
        width: 250px !important;
        margin: 12px;
    }
    /* ##################################### Recently Viewed CSS End ##################################### */

    /* ##################################### Service CSS Start ##################################### */
    #service{
        padding: 20px 0;
    }
    #service .service_row {
        background: #E2F4FF;
        border-radius: 20px;
        padding: 44px 20px;
    }
    #service .service_row .service_content {
        display: flex;
        padding-bottom: 20px;
    }
    #service .service_row .service_content .details p {
        font-size: 16px;
    }
    /* ##################################### Service CSS End ##################################### */

    /* ##################################### clients CSS End ##################################### */
    #clients {
        padding: 40px 0 80px 0;
    }
    #clients .clients_slider .client_item .clients_item {
        height: 280px;
    }
    #clients .clients_slider .slick-dots {
        bottom: -40px;
    }
    /* ##################################### clients CSS End ##################################### */

    /* ##################################### sponsers CSS End ##################################### */
    #sponsers .sponsers_row {
        display: flex;
        flex-wrap: wrap;
        background: #E2F4FF;
        padding: 20px 10px;
    }
    /* ##################################### sponsers CSS End ##################################### */

    /* ##################################### sponsers CSS End ##################################### */
    #news {
        padding: 50px 0;
    }
    #news .news_slider .news_item .news_details .news_img {
        margin-bottom: 20px;
    }
    #news .news_slider .slick-dots {
        bottom: -35px;
    }
    /* ##################################### sponsers CSS End ##################################### */
    

    /* ##################################### Footer CSS End ##################################### */
    #footer {
        padding: 80px 0;
        background: #F4F4F4;
    }
    #footer .subscribe {
        background: #FFFFFF;
        border-radius: 20px;
        padding: 38px 20px;
        text-align: center;
    }
    #footer .subscribe h4 {
        margin-bottom: 20px;
    }
    #footer .subscribe .contact_us {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }
    #footer .footer_contents {
        text-align: center;
    }
    #footer .footer_contents .footer_left{
        padding-bottom: 40px;
    }
    #footer .footer_contents .footer_left ul {
        padding-top: 60px;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    #footer .footer_contents .footer_left ul li {
        padding: 0 20px;
    }
    #footer .footer_contents .footer_left ul::after {
        left: 50%;
        transform: translateX(-50%);
    }
    #footer .footer_contents .footer_menu {
        text-align: left;
        padding-bottom: 20px;
    }
    /* ##################################### Footer CSS End ##################################### */

    /* ##################################### Product Details Page CSS Start ##################################### */
    #product_details .product_detail{
        padding-top: 20px;
    }
    #product_details .product_detail .size_list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    #product_details .product_detail .size_list .form-check .form-option-label {
        width: 50px;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
    }
    #product_details .product_detail .size_list .form-check {
        margin: 0 5px;
    }
    #product_details .product_detail .buttons .btn {
        padding: 15px 10px !important;
    }
    #reviews_desp .revews_desp_navbar ul li button {
        padding: 15px 15px;
    }
    #reviews_desp .revews_desp_content .description a, #reviews_desp .revews_desp_content .reviews a {
        font-size: 18px;
    }
    /* ##################################### Product Details Page CSS End ##################################### */

    /* ##################################### Product Shop Page CSS Start ##################################### */
    #shop {
        padding: 0px 0;
    }
    #shop .side_filter{
        display: none;
    }
    #shop .side_filter_mobile{
        display: block;
        padding-bottom: 20px;
    }
    #shop .side_filter_mobile .shop_offcanvas {
        width: 300px !important;
    }
    /* ##################################### Product Shop Page CSS End ##################################### */

    /* ##################################### Product Cart Page CSS Start ##################################### */
    #cart .cart_table {
        overflow-x: scroll;
        padding-bottom: 20px;
    }
    #cart .cart_table table{
        width: 1000px;
    }
    #cart .buttons {
        padding: 50px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #cart .buttons a{
        margin:10px;
    }
    /* ##################################### Product cart Page CSS End ##################################### */
}

@media(min-width:576px) and (max-width:767.98px) {
    /* ##################################### Common Css  #####################################*/
    .header{
        padding-bottom: 20px;
    }
    .header h2 {
        font-size: 20px;
        font-weight: 600;
        color: #003F62;
        padding-bottom: 0;
        display: inline-block;
    }
    .header a {
        font-size: 20px;
        font-weight: 500;
        color: #003F62;
        display: inline-block;
    }
    /* ##################################### Heading Css Start  #####################################*/
    #header .header_top .header_top_right {
        display: none;
    }
    #header .header_bottom .side_nav {
        display: none;
    }
    #header .header_bottom .logo {
        text-align: center;
        margin-bottom: 10px;
    }
    /* ##################################### Heading Css End  #####################################*/
    

    /* ##################################### Navigation CSS Start ##################################### */
    #main_menu {
        background: #fff;
        padding: 0 !important;
    }
    #main_menu .mobile_menu_button {
        display: block;
        background: var(--hover);
        color: #fff;
        border: none;
        padding: 20px 30px;
        border-radius: 0;
        font-size: 18px;
    }
    #main_menu .mobile_menu_button:focus {
        box-shadow: none;
    }
    #main_menu .nav_offcanvas{
        width: 250px !important;
    }
    #main_menu .nav_offcanvas .mobile_menu_header a{
        font-size: 26px;
        font-weight: 700;
        color: var(--hover);
        line-height: 37px;
        letter-spacing: -0.03em;
    }
    #main_menu .nav_offcanvas .mobile_menu_header button:focus{
        box-shadow: none;
    }
    #main_menu .nav_offcanvas .mobile_menu_body{
        text-align: center;
    }
    #main_menu .nav_offcanvas .mobile_menu_body ul li{
        margin: 5px 0;
    }
    #main_menu .nav_offcanvas .mobile_menu_body ul li a{
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        color: #242424;
        position: relative;
    }
    #main_menu .nav_offcanvas .mobile_menu_body ul li a::before {
        position: absolute;
        content: "";
        right: 0;
        bottom: 8px;
        width: 100%;
        height: 3px;
        background: var(--hover);
        transform-origin: right center;
        transform: scale(0, 1);
        transition: transform 0.4s ease;
    }
    #main_menu .nav_offcanvas .mobile_menu_body ul li a:hover {
        color: var(--hover);
    }
    #main_menu .nav_offcanvas .mobile_menu_body ul li a:hover::before {
        transform-origin: left center;
        transform: scale(1, 1);
    }
    #main_menu .nav_offcanvas .mobile_down_bar{
        text-align: left;
    }
    #main_menu .nav_offcanvas .mobile_down_bar a{
        font-size: 14px;
        font-weight: 400;
        color: #242424;
        position: relative;
        display: block;
        margin-bottom: 10px;
    }
    #main_menu .nav_offcanvas .mobile_down_bar a .badge-hover {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 15px;
        height: 15px;
        text-align: center;
        background: #EDA415;
        border-radius: 50%;
        line-height: 15px;
        font-size: 9px;
        font-weight: 400;
        color: #fff;
    }
    #main_menu .nav_offcanvas .mobile_down_bar a i{
        color: #242424;
        padding: 20px 10px;
    }
    #main_menu .nav_offcanvas .mobile_down_bar a:hover i{
        color: var(--hover);
    }
    #main_menu .right_bar{
        display: none;
    }
    #main_menu .return_msg{
        display: none;
    }
    /* ##################################### Navigation CSS End ##################################### */

    /* ##################################### Banner CSS Start ##################################### */
    #banner .banner_slider .banner_item .banner_text{
        text-align: center;
        padding-bottom: 60px;
    }
    #banner .banner_slider .banner_item .banner_text a {
        padding: 18px 20px;
        margin: 0 10px;
    }
    #banner .banner_slider .slick-dots {
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
    }
    /* ##################################### Banner CSS End ##################################### */

    /* ##################################### Category CSS Start ##################################### */
    #category {
        padding: 50px 0;
    }
    /* ##################################### Category CSS End ##################################### */

    /* ##################################### popular_product CSS End ##################################### */
    #popular_product {
        padding: 0 0 40px 0;
    }
    #popular_product .product_topbar .filters {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    #popular_product .product_topbar .filters a {
        margin: 20px 0;
    }
    /* ##################################### popular_product CSS End ##################################### */

    /* ##################################### Recently Viewed CSS Start ##################################### */
    #rv {
        display: none;
    }
    /* ##################################### Recently Viewed CSS End ##################################### */

    /* ##################################### Service CSS Start ##################################### */
    #service{
        padding: 20px 0;
    }
    #service .service_row {
        background: #E2F4FF;
        border-radius: 20px;
        padding: 44px 20px;
    }
    #service .service_row .service_content {
        display: flex;
        padding-bottom: 20px;
    }
    #service .service_row .service_content .details p {
        font-size: 16px;
    }
    /* ##################################### Service CSS End ##################################### */

    /* ##################################### clients CSS End ##################################### */
    #clients {
        padding: 40px 0 80px 0;
    }
    #clients .clients_slider .client_item .clients_item {
        height: 280px;
    }
    #clients .clients_slider .slick-dots {
        bottom: -40px;
    }
    /* ##################################### clients CSS End ##################################### */

    /* ##################################### sponsers CSS End ##################################### */
    #sponsers .sponsers_row {
        display: flex;
        flex-wrap: wrap;
        background: #E2F4FF;
        padding: 20px 10px;
    }
    /* ##################################### sponsers CSS End ##################################### */

    /* ##################################### sponsers CSS End ##################################### */
    #news {
        padding: 50px 0;
    }
    #news .news_slider .news_item .news_details .news_img {
        margin-bottom: 20px;
    }
    #news .news_slider .slick-dots {
        bottom: -35px;
    }
    /* ##################################### sponsers CSS End ##################################### */
    

    /* ##################################### Footer CSS End ##################################### */
    #footer {
        padding: 80px 0;
        background: #F4F4F4;
    }
    #footer .subscribe {
        background: #FFFFFF;
        border-radius: 20px;
        padding: 38px 20px;
        text-align: center;
    }
    #footer .subscribe h4 {
        margin-bottom: 20px;
    }
    #footer .subscribe .contact_us {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }
    #footer .footer_contents {
        text-align: center;
    }
    #footer .footer_contents .footer_left{
        padding-bottom: 40px;
    }
    #footer .footer_contents .footer_left ul {
        padding-top: 60px;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    #footer .footer_contents .footer_left ul li {
        padding: 0 20px;
    }
    #footer .footer_contents .footer_left ul::after {
        left: 50%;
        transform: translateX(-50%);
    }
    #footer .footer_contents .footer_menu {
        text-align: left;
        padding-bottom: 20px;
    }
    /* ##################################### Footer CSS End ##################################### */

    /* ##################################### Product Details Page CSS Start ##################################### */
    #product_details .product_detail{
        padding-top: 20px;
    }
    #product_details .product_detail .size_list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    #product_details .product_detail .size_list .form-check .form-option-label {
        width: 50px;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
    }
    #product_details .product_detail .size_list .form-check {
        margin: 0 5px;
    }
    #product_details .product_detail .buttons .btn {
        padding: 15px 10px !important;
    }
    #reviews_desp .revews_desp_navbar ul li button {
        padding: 15px 15px;
    }
    #reviews_desp .revews_desp_content .description a, #reviews_desp .revews_desp_content .reviews a {
        font-size: 18px;
    }
    /* ##################################### Product Details Page CSS End ##################################### */

    /* ##################################### Product Shop Page CSS Start ##################################### */
    #shop {
        padding: 0px 0;
    }
    #shop .side_filter{
        display: none;
    }
    #shop .side_filter_mobile{
        display: block;
        padding-bottom: 20px;
    }
    #shop .side_filter_mobile .shop_offcanvas {
        width: 300px !important;
    }
    /* ##################################### Product Shop Page CSS End ##################################### */

    /* ##################################### Product Cart Page CSS Start ##################################### */
    #cart .cart_table {
        overflow-x: scroll;
        padding-bottom: 20px;
    }
    #cart .cart_table table{
        width: 1500px;
    }
    #cart .buttons {
        padding: 50px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #cart .buttons a{
        margin:10px;
    }
    /* ##################################### Product cart Page CSS End ##################################### */
}

@media(max-width:575.98px) {
    /* ##################################### Common Css  #####################################*/
    .header{
        padding-bottom: 20px;
    }
    .header h2 {
        font-size: 20px;
        font-weight: 600;
        color: #003F62;
        padding-bottom: 0;
        display: inline-block;
    }
    .header a {
        font-size: 20px;
        font-weight: 500;
        color: #003F62;
        display: inline-block;
    }
    /* ##################################### Heading Css Start  #####################################*/
    #header .header_top .header_top_right {
        display: none;
    }
    #header .header_bottom .side_nav {
        display: none;
    }
    #header .header_bottom .logo {
        text-align: center;
        margin-bottom: 10px;
    }
    /* ##################################### Heading Css End  #####################################*/
    

    /* ##################################### Navigation CSS Start ##################################### */
    #main_menu {
        background: #fff;
        padding: 0 !important;
    }
    #main_menu .mobile_menu_button {
        display: block;
        background: var(--hover);
        color: #fff;
        border: none;
        padding: 20px 30px;
        border-radius: 0;
        font-size: 18px;
    }
    #main_menu .mobile_menu_button:focus {
        box-shadow: none;
    }
    #main_menu .nav_offcanvas{
        width: 250px !important;
    }
    #main_menu .nav_offcanvas .mobile_menu_header a{
        font-size: 26px;
        font-weight: 700;
        color: var(--hover);
        line-height: 37px;
        letter-spacing: -0.03em;
    }
    #main_menu .nav_offcanvas .mobile_menu_header button:focus{
        box-shadow: none;
    }
    #main_menu .nav_offcanvas .mobile_menu_body{
        text-align: center;
    }
    #main_menu .nav_offcanvas .mobile_menu_body ul li{
        margin: 5px 0;
    }
    #main_menu .nav_offcanvas .mobile_menu_body ul li a{
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        color: #242424;
        position: relative;
    }
    #main_menu .nav_offcanvas .mobile_menu_body ul li a::before {
        position: absolute;
        content: "";
        right: 0;
        bottom: 8px;
        width: 100%;
        height: 3px;
        background: var(--hover);
        transform-origin: right center;
        transform: scale(0, 1);
        transition: transform 0.4s ease;
    }
    #main_menu .nav_offcanvas .mobile_menu_body ul li a:hover {
        color: var(--hover);
    }
    #main_menu .nav_offcanvas .mobile_menu_body ul li a:hover::before {
        transform-origin: left center;
        transform: scale(1, 1);
    }
    #main_menu .nav_offcanvas .mobile_down_bar{
        text-align: left;
    }
    #main_menu .nav_offcanvas .mobile_down_bar a{
        font-size: 14px;
        font-weight: 400;
        color: #242424;
        position: relative;
        display: block;
        margin-bottom: 10px;
    }
    #main_menu .nav_offcanvas .mobile_down_bar a .badge-hover {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 15px;
        height: 15px;
        text-align: center;
        background: #EDA415;
        border-radius: 50%;
        line-height: 15px;
        font-size: 9px;
        font-weight: 400;
        color: #fff;
    }
    #main_menu .nav_offcanvas .mobile_down_bar a i{
        color: #242424;
        padding: 20px 10px;
    }
    #main_menu .nav_offcanvas .mobile_down_bar a:hover i{
        color: var(--hover);
    }
    #main_menu .right_bar{
        display: none;
    }
    #main_menu .return_msg{
        display: none;
    }
    /* ##################################### Navigation CSS End ##################################### */

    /* ##################################### Banner CSS Start ##################################### */
    #banner .banner_slider .banner_item .banner_text{
        text-align: center;
        padding-bottom: 60px;
    }
    #banner .banner_slider .banner_item .banner_text a {
        padding: 18px 20px;
        margin: 0 10px;
    }
    #banner .banner_slider .slick-dots {
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
    }
    /* ##################################### Banner CSS End ##################################### */

    /* ##################################### Category CSS Start ##################################### */
    #category {
        padding: 50px 0;
    }
    /* ##################################### Category CSS End ##################################### */

    /* ##################################### popular_product CSS End ##################################### */
    #popular_product {
        padding: 0 0 40px 0;
    }
    #popular_product .product_topbar .filters {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    #popular_product .product_topbar .filters a {
        margin: 20px 0;
    }
    /* ##################################### popular_product CSS End ##################################### */

    /* ##################################### Recently Viewed CSS Start ##################################### */
    #rv {
        display: none;
    }
    /* ##################################### Recently Viewed CSS End ##################################### */

    /* ##################################### Service CSS Start ##################################### */
    #service{
        padding: 20px 0;
    }
    #service .service_row {
        background: #E2F4FF;
        border-radius: 20px;
        padding: 44px 20px;
    }
    #service .service_row .service_content {
        display: flex;
        padding-bottom: 20px;
    }
    #service .service_row .service_content .details p {
        font-size: 16px;
    }
    /* ##################################### Service CSS End ##################################### */

    /* ##################################### clients CSS End ##################################### */
    #clients {
        padding: 40px 0 80px 0;
    }
    #clients .clients_slider .client_item .clients_item {
        height: 280px;
    }
    #clients .clients_slider .slick-dots {
        bottom: -40px;
    }
    /* ##################################### clients CSS End ##################################### */

    /* ##################################### sponsers CSS End ##################################### */
    #sponsers .sponsers_row {
        display: flex;
        flex-wrap: wrap;
        background: #E2F4FF;
        padding: 20px 10px;
    }
    /* ##################################### sponsers CSS End ##################################### */

    /* ##################################### sponsers CSS End ##################################### */
    #news {
        padding: 50px 0;
    }
    #news .news_slider .news_item .news_details .news_img {
        margin-bottom: 20px;
    }
    #news .news_slider .slick-dots {
        bottom: -35px;
    }
    /* ##################################### sponsers CSS End ##################################### */
    

    /* ##################################### Footer CSS End ##################################### */
    #footer {
        padding: 80px 0;
        background: #F4F4F4;
    }
    #footer .subscribe {
        background: #FFFFFF;
        border-radius: 20px;
        padding: 38px 20px;
        text-align: center;
    }
    #footer .subscribe h4 {
        margin-bottom: 20px;
    }
    #footer .subscribe .contact_us {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }
    #footer .footer_contents {
        text-align: center;
    }
    #footer .footer_contents .footer_left{
        padding-bottom: 40px;
    }
    #footer .footer_contents .footer_left ul {
        padding-top: 60px;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    #footer .footer_contents .footer_left ul li {
        padding: 0 20px;
    }
    #footer .footer_contents .footer_left ul::after {
        left: 50%;
        transform: translateX(-50%);
    }
    #footer .footer_contents .footer_menu {
        text-align: left;
        padding-bottom: 20px;
    }
    /* ##################################### Footer CSS End ##################################### */

    /* ##################################### Product Details Page CSS Start ##################################### */
    #product_details .product_detail{
        padding-top: 20px;
    }
    #product_details .product_detail .size_list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    #product_details .product_detail .size_list .form-check .form-option-label {
        width: 50px;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
    }
    #product_details .product_detail .size_list .form-check {
        margin: 0 5px;
    }
    #product_details .product_detail .buttons .btn {
        padding: 15px 10px !important;
    }
    #reviews_desp .revews_desp_navbar ul li button {
        padding: 15px 15px;
    }
    #reviews_desp .revews_desp_content .description a, #reviews_desp .revews_desp_content .reviews a {
        font-size: 18px;
    }
    /* ##################################### Product Details Page CSS End ##################################### */

    /* ##################################### Product Shop Page CSS Start ##################################### */
    #shop {
        padding: 0px 0;
    }
    #shop .side_filter{
        display: none;
    }
    #shop .side_filter_mobile{
        display: block;
        padding-bottom: 20px;
    }
    #shop .side_filter_mobile .shop_offcanvas {
        width: 300px !important;
    }
    /* ##################################### Product Shop Page CSS End ##################################### */

    /* ##################################### Product Cart Page CSS Start ##################################### */
    #cart .cart_table {
        overflow-x: scroll;
        padding-bottom: 20px;
    }
    #cart .cart_table table{
        width: 1000px;
    }
    #cart .buttons {
        padding: 50px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #cart .buttons a{
        margin:10px 0 ;
    }
    /* ##################################### Product cart Page CSS End ##################################### */
}