/* ==================  Font Part Start  ================== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* ==================  Common Part Start  ================== */
* {
  margin: 0;
  padding: 0;
  outline: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif !important;
}

.pagination_wrap {
  padding-top: 20px;
}
.pagination_wrap .pagination_nav {
  display: flex;
  justify-content: center;
}
.pagination_wrap .pagination_nav li {
  width: 19px;
  margin: 0 5px;
  height: 19px;
  border: 1px solid #ADADAD;
  border-radius: 50%;
}
.pagination_wrap .pagination_nav li.active {
  background: #EDA415;
  border-color: #EDA415;
}

.header h2 {
  font-size: 25px;
  font-weight: 600;
  color: #003F62;
  padding-bottom: 52px;
}
.header a {
  font-size: 20px;
  font-weight: 500;
  color: #003F62;
}

/* ==================  Common Part End  ================== */
/* ==================  Buttons Part Start  ================== */
button:focus {
  border-color: none;
  box-shadow: none !important;
}

.btn-hover {
  background: #EDA415;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  opacity: 90%;
  border: none;
  display: inline-block !important;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.btn-hover:hover {
  opacity: 100%;
  color: #fff;
}

/* ==================  Buttons Part End  ================== */
/* ============ Menu Fix Start ============= */
/* ============ Menu Fix End ============= */
@-webkit-keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@-webkit-keyframes topTobottom {
  from {
    transform: translateY(-75px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes topTobottom {
  from {
    transform: translateY(-75px);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes box_shadow {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 183px;
    height: 183px;
  }
  100% {
    width: 0;
    height: 0;
  }
}
@keyframes box_shadow {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 183px;
    height: 183px;
  }
  100% {
    width: 0;
    height: 0;
  }
}
/* ============================== Header Part Start =================================== */
#header .header_top {
  padding: 22px 0;
}
#header .header_top .header_top_left p {
  font-size: 14px;
  font-weight: 400;
  color: #292D32;
}
#header .header_top .header_top_left p span {
  font-weight: 500;
}
#header .header_top .header_top_right {
  text-align: right;
}
#header .header_top .header_top_right a {
  font-size: 14px;
  font-weight: 400;
  color: #292D32;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  margin-left: 36px;
}
#header .header_top .header_top_right a:hover {
  color: #EDA415;
}
#header .header_top .header_top_right a i {
  padding: 0 10px;
  font-size: 16px;
}
#header .header_bottom {
  padding: 22px 0;
  background: #003F62;
}
#header .header_bottom .search input {
  background: #FFFFFF;
  border-radius: 20px 0 0 20px;
  font-size: 14px;
  font-weight: 400;
  color: #292D32;
  padding: 14px 25px;
  border: none;
}
#header .header_bottom .search input:focus {
  border-color: none;
  box-shadow: none;
}
#header .header_bottom .search button {
  padding: 17px 41px;
  border-radius: 0 20px 20px 0;
}
#header .header_bottom .side_nav {
  text-align: right;
}
#header .header_bottom .side_nav a {
  margin-left: 30px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  position: relative;
}
#header .header_bottom .side_nav a:first-child i {
  padding-right: 12px;
}
#header .header_bottom .side_nav a i {
  padding-right: 30px;
  font-size: 16px;
}
#header .header_bottom .side_nav a .badge-hover {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  width: 15px;
  height: 15px;
  text-align: center;
  background: #EDA415;
  border-radius: 50%;
  line-height: 15px;
  font-size: 9px;
  font-weight: 400;
  color: #fff;
}

/* ============================== Header Part End =================================== */
/* ============================== Menu Part Start =================================== */
#main_menu {
  background: #F4F4F4;
}
#main_menu .browse_categories button {
  border-radius: 0 !important;
  padding: 23px 15px;
}
#main_menu .browse_categories button i {
  padding-left: 16px;
}
#main_menu .browse_categories button::after {
  display: none;
}
#main_menu .menu_part ul li {
  margin-left: 33px;
}
#main_menu .menu_part ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #292D32;
}
#main_menu .menu_part ul li a i {
  padding-left: 16px;
}
#main_menu .return_msg h6 {
  font-size: 16px;
  font-weight: 700;
  color: #003F62;
}
#main_menu .mobile_menu_button {
  display: none;
}

/* ============================== Menu Part End =================================== */
/* ============================== Banner Part Start =================================== */
#banner {
  padding-top: 30px;
}
#banner .banner_slider {
  position: relative;
}
#banner .banner_slider .banner_item .banner_text h2 {
  font-size: 43px;
  font-weight: 700;
  color: #003F62;
  padding-bottom: 25px;
}
#banner .banner_slider .banner_item .banner_text h2 span {
  display: block;
}
#banner .banner_slider .banner_item .banner_text a {
  padding: 18px 28px;
  font-size: 16px;
  font-weight: 600;
  color: #003F62;
  border: 1px solid #003F62;
  border-radius: 20px;
  margin-right: 20px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
#banner .banner_slider .banner_item .banner_text a:hover {
  background: #EDA415;
  border-color: #EDA415;
  color: #fff;
}
#banner .banner_slider .banner_item .banner_img {
  position: relative;
}
#banner .banner_slider .banner_item .banner_img .ovrly_price {
  position: absolute;
  width: 120px;
  height: 120px;
  bottom: 40px;
  right: 10px;
  background: #EDA415;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner .banner_slider .banner_item .banner_img .ovrly_price p {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}
#banner .banner_slider .banner_item .banner_img .ovrly_price p span {
  display: block;
}
#banner .banner_slider .slick-dots {
  position: absolute;
  bottom: 30px;
  left: 120px;
  display: flex;
}
#banner .banner_slider .slick-dots li.slick-active button {
  background: #EDA415;
  border-color: #EDA415;
}
#banner .banner_slider .slick-dots li button {
  width: 19px;
  margin: 0 5px;
  height: 19px;
  border: 1px solid #ADADAD;
  border-radius: 50%;
  font-size: 0;
}

/* ============================== Banner Part End =================================== */
/* ============================== BreadCrumb Part Start =================================== */
#breadcrumb {
  padding: 25px 0;
}
#breadcrumb nav ol li {
  margin-right: 55px;
  font-size: 16px;
  font-weight: 500;
  color: #3A3A3A;
  position: relative;
}
#breadcrumb nav ol li a {
  font-size: 16px;
  font-weight: 500;
  color: #3A3A3A;
}
#breadcrumb nav ol li::before {
  display: none;
}
#breadcrumb nav ol li:not(:first-child)::after {
  position: absolute;
  content: ">";
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
  color: #3A3A3A;
  font-size: 30px;
}

/* ============================== BreadCrumb Part End =================================== */
/* ============================== Categories Part Start =================================== */
#category {
  padding: 50px 80px;
}
#category .category_slider {
  position: relative;
}
#category .category_slider .category_item {
  margin: 0 12px;
}
#category .category_slider .category_item .categories_item {
  border: 1px solid #A5A5A5;
  border-radius: 20px;
  padding: 26px 20px;
  height: 150px;
  display: flex;
}
#category .category_slider .category_item .categories_item .cate_img {
  align-self: center;
}
#category .category_slider .category_item .categories_item .cate_title {
  padding-left: 20px;
  align-self: center;
}
#category .category_slider .category_item .categories_item .cate_title h6 {
  font-size: 18px;
  font-weight: 600;
  color: #003F62;
}
#category .category_slider .category_item .categories_item .cate_title p {
  font-size: 18px;
  font-weight: 500;
  color: #003F62;
}
#category .category_slider .cate_next {
  right: 0;
}
#category .category_slider .cate_prev {
  left: 0;
}
#category .category_slider .cate_next,
#category .category_slider .cate_prev {
  position: absolute;
  top: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  transform: translateY(-50%);
  color: #000;
  background: #EAEAEA;
  font-size: 12px;
  cursor: pointer;
  z-index: 999;
  transition: all linear 0.3s;
  padding: 0;
}
#category .category_slider .cate_next:hover,
#category .category_slider .cate_prev:hover {
  background: #EDA415;
  color: #fff;
}

/* ============================== Categories Part End =================================== */
/* ============================== Popular Product Part Start =================================== */
#popular_product {
  padding: 82px 0 120px 0;
}
#popular_product .product_topbar {
  padding-bottom: 55px;
}
#popular_product .product_topbar .top_title {
  font-size: 28px;
  font-weight: 600;
  color: #003F62;
}
#popular_product .product_topbar .filters {
  text-align: end;
}
#popular_product .product_topbar .filters a {
  margin-left: 13px;
  border: 1px solid #B5B5B5;
  border-radius: 20px;
  padding: 10px 36px;
  font-size: 17px;
  font-weight: 500;
  color: #003F62;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
#popular_product .product_topbar .filters a:hover {
  border-color: #003F62;
}
#popular_product .popular_product_list .popular_product_details {
  border: 1px solid #B6B6B6;
  border-radius: 20px;
  height: 315px;
  margin-bottom: 30px;
}
#popular_product .popular_product_list .popular_product_details .product_img {
  text-align: center;
  position: relative;
}
#popular_product .popular_product_list .popular_product_details .product_img .ovrly {
  position: absolute;
  top: 10px;
  right: 20px;
}
#popular_product .popular_product_list .popular_product_details .product_img .ovrly a {
  background: #B3D4E5;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  color: #292D32;
}
#popular_product .popular_product_list .popular_product_details .pricing_stars {
  padding: 22px 13px;
}
#popular_product .popular_product_list .popular_product_details .pricing_stars h6 {
  font-size: 18px;
  font-weight: 500;
  color: #003F62;
  padding-bottom: 15px;
}
#popular_product .popular_product_list .popular_product_details .pricing_stars p {
  font-size: 18px;
  font-weight: 600;
  color: #4A4A4A;
  padding-bottom: 15px;
}
#popular_product .popular_product_list .popular_product_details .pricing_stars p del {
  font-size: 12px;
  font-weight: 300;
  color: #4A4A4A;
}
#popular_product .popular_product_list .popular_product_details .pricing_stars i {
  color: #EDA415;
  font-size: 16px;
}
#popular_product .popular_product_list .popular_product_details .adding_card {
  margin-top: 20px;
  padding: 22px 10px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  display: none;
}
#popular_product .popular_product_list .popular_product_details .adding_card a.add_cart {
  background: #87BCD9;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #272727;
}
#popular_product .popular_product_list .popular_product_details .adding_card a.add_cart i {
  margin-left: 20px;
  padding: 1px 5px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  color: #fff;
  background: #EDA415;
  border-radius: 50%;
}
#popular_product .popular_product_list .popular_product_details .adding_card a.visible {
  padding: 10px 15px;
  background: #87BCD9;
  border-radius: 20px;
}
#popular_product .popular_product_list .popular_product_details .adding_card a.visible i {
  color: #272727;
  font-size: 18px;
}
#popular_product .popular_product_list .popular_product_details:hover .pricing_stars {
  display: none;
}
#popular_product .popular_product_list .popular_product_details:hover .adding_card {
  display: inline-block;
}

/* ============================== Popular Product Part End =================================== */
/* ============================== Sale Part Start =================================== */
#sale {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  padding: 90px 60px;
}
#sale .text h4 {
  padding-top: 48px;
  font-size: 41px;
  font-weight: 700;
  color: #1B5A7D;
  padding-bottom: 20px;
}
#sale .text p {
  padding-bottom: 48px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

/* ============================== Sale Part End =================================== */
/* ============================== Recently Viewed Part Start =================================== */
#rv {
  padding: 95px 0 75px 0;
}
#rv .rv_left {
  border: 1px solid #B6B6B6;
  border-radius: 20px;
  padding: 0 10px;
  position: relative;
}
#rv .rv_left .product_details {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
}
#rv .rv_left .product_details .product_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
#rv .rv_left .product_details .product_desp {
  align-self: center;
}
#rv .rv_left .product_details .product_desp .price_stars h6 {
  font-size: 18px;
  font-weight: 500;
  color: #003F62;
  padding-bottom: 15px;
}
#rv .rv_left .product_details .product_desp .price_stars p {
  font-size: 18px;
  font-weight: 600;
  color: #4A4A4A;
  padding-bottom: 15px;
}
#rv .rv_left .product_details .product_desp .price_stars p del {
  font-size: 12px;
  font-weight: 300;
  color: #4A4A4A;
}
#rv .rv_left .product_details .product_desp .price_stars i {
  color: #EDA415;
  font-size: 16px;
}
#rv .rv_left .product_details .product_desp .quantity_wrap {
  display: flex;
  margin: 30px 0;
  align-items: center;
  justify-content: space-between;
}
#rv .rv_left .product_details .product_desp .quantity_wrap .quantity_input {
  position: relative;
}
#rv .rv_left .product_details .product_desp .quantity_wrap .quantity_input:before {
  font-weight: 500;
  margin-right: 10px;
  content: "Quantity:";
  color: #003F62;
  display: inline-block;
}
#rv .rv_left .product_details .product_desp .quantity_wrap .quantity_input input {
  height: 40px;
  margin: 0 4px;
  width: 100px;
  text-align: center;
}
#rv .rv_left .product_details .product_desp .quantity_wrap .quantity_input button {
  width: 40px;
  line-height: 40px;
  height: 40px;
  background: #EDA415;
  border: none;
  color: #fff;
  font-weight: 800;
}
#rv .rv_left .product_details .product_desp .adding_card {
  margin-top: 20px;
}
#rv .rv_left .product_details .product_desp .adding_card a {
  margin-right: 20px;
}
#rv .rv_left .product_details .product_desp .adding_card a.add_cart {
  background: #87BCD9;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #272727;
}
#rv .rv_left .product_details .product_desp .adding_card a.add_cart i {
  margin-left: 20px;
  padding: 1px 5px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  color: #fff;
  background: #EDA415;
  border-radius: 50%;
}
#rv .rv_left .product_details .product_desp .adding_card a.visible {
  padding: 10px 15px;
  background: #87BCD9;
  border-radius: 20px;
}
#rv .rv_left .product_details .product_desp .adding_card a.visible i {
  color: #272727;
  font-size: 18px;
}
#rv .rv_left .slick-dots {
  position: absolute;
  bottom: 60px;
  left: 180px;
  display: flex;
}
#rv .rv_left .slick-dots li.slick-active button {
  background: #EDA415;
  border-color: #EDA415;
}
#rv .rv_left .slick-dots li button {
  width: 19px;
  margin: 0 5px;
  height: 19px;
  border: 1px solid #ADADAD;
  border-radius: 50%;
  font-size: 0;
}
#rv .rv_silder_nav .slick-list {
  height: 410px !important;
}
#rv .rv_silder_nav .rv_right {
  cursor: pointer;
  border: 1px solid #B6B6B6;
  border-radius: 20px;
  padding: 21px 36px;
  margin-bottom: 50px;
}
#rv .rv_silder_nav .rv_right.slick-current {
  display: none;
}
#rv .rv_silder_nav .rv_right:last-child {
  margin-bottom: 0;
}
#rv .rv_silder_nav .rv_right .product_details .product_img img {
  width: 100%;
}
#rv .rv_silder_nav .rv_right .product_details .product_desp {
  align-self: center;
}
#rv .rv_silder_nav .rv_right .product_details .product_desp .price_stars h6 {
  font-size: 18px;
  font-weight: 500;
  color: #003F62;
  padding-bottom: 15px;
}
#rv .rv_silder_nav .rv_right .product_details .product_desp .price_stars p {
  font-size: 18px;
  font-weight: 600;
  color: #4A4A4A;
  padding-bottom: 15px;
}
#rv .rv_silder_nav .rv_right .product_details .product_desp .price_stars p del {
  font-size: 12px;
  font-weight: 300;
  color: #4A4A4A;
}
#rv .rv_silder_nav .rv_right .product_details .product_desp .price_stars i {
  color: #EDA415;
  font-size: 16px;
}
#rv .rv_silder_nav .slick-list .slick-track {
  transform: translate3d(0px, 0px, 0px) !important;
}
#rv .rv_silder_nav .slick-list .slick-track .slick-current h4 {
  color: #EDA415;
}

/* ============================== Recently Viewed Part End =================================== */
/* ============================== Service Part Start =================================== */
#service .service_row {
  background: #E2F4FF;
  border-radius: 20px;
  padding: 44px 80px;
}
#service .service_row .service_content {
  display: flex;
}
#service .service_row .service_content .icon {
  align-self: center;
}
#service .service_row .service_content .icon i {
  font-size: 45px;
  color: #EDA415;
}
#service .service_row .service_content .details {
  align-self: center;
  padding-left: 30px;
}
#service .service_row .service_content .details h6 {
  font-size: 22px;
  font-weight: 600;
  color: #003F62;
}
#service .service_row .service_content .details p {
  font-size: 18px;
  font-weight: 400;
  color: #003F62;
}

/* ============================== Service Part End =================================== */
/* ============================== Clients Part Start =================================== */
#clients {
  padding: 75px 0 120px 0;
}
#clients .clients_slider {
  position: relative;
}
#clients .clients_slider .client_item {
  margin: 0 12px;
}
#clients .clients_slider .client_item .clients_item {
  border: 1px solid #BABABA;
  border-radius: 20px;
  height: 250px;
}
#clients .clients_slider .client_item .clients_item .clients_topbar {
  padding: 23px;
  display: flex;
  align-items: center;
}
#clients .clients_slider .client_item .clients_item .clients_topbar .avatar {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  margin-right: 45px;
  position: relative;
}
#clients .clients_slider .client_item .clients_item .clients_topbar .avatar::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 95px;
  height: 95px;
  border-radius: 50%;
  border: 2px dotted #EDA415;
}
#clients .clients_slider .client_item .clients_item .clients_topbar .avatar img {
  width: 100%;
  max-width: 100%;
}
#clients .clients_slider .client_item .clients_item .clients_topbar h6 {
  align-self: center;
  font-size: 16px;
  font-weight: 500;
  color: #003F62;
}
#clients .clients_slider .client_item .clients_item p {
  padding: 10px 16px;
  margin: 0 16px;
  font-size: 14px;
  font-weight: 400;
  color: #003F62;
  background: #E2F4FF;
  border-radius: 20px;
}
#clients .clients_slider .slick-dots {
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}
#clients .clients_slider .slick-dots li.slick-active button {
  background: #EDA415;
  border-color: #EDA415;
}
#clients .clients_slider .slick-dots li button {
  width: 19px;
  margin: 0 5px;
  height: 19px;
  border: 1px solid #ADADAD;
  border-radius: 50%;
  font-size: 0;
}

/* ============================== Clients Part End =================================== */
/* ============================== Sponser Part Start =================================== */
#sponsers .sponsers_row {
  display: flex;
  flex-wrap: wrap;
  background: #E2F4FF;
  padding: 47px 30px;
}
#sponsers .sponsers_row .sponsers_col {
  margin: 0 12px;
  width: 17.72%;
  text-align: center;
}
#sponsers .sponsers_row .sponsers_col img {
  width: 100%;
  max-width: 100%;
}

/* ============================== Sponser Part End =================================== */
/* ============================== News Part Start =================================== */
#news {
  padding: 190px 0 160px 0;
}
#news .news_slider {
  position: relative;
}
#news .news_slider .news_item {
  margin: 0 12px;
}
#news .news_slider .news_item .news_details {
  border: 1px solid #C8C8C8;
  border-radius: 20px;
  padding: 40px 16px;
}
#news .news_slider .news_item .news_details .news_content span {
  font-size: 20px;
  font-weight: 500;
  color: #003F62;
  border: 1px solid #D4D4D4;
  border-radius: 20px;
  padding: 5px 20px;
  text-align: center;
}
#news .news_slider .news_item .news_details .news_content h4 {
  padding: 10px 0 20px 0;
  font-size: 20px;
  font-weight: 600;
  color: #003F62;
}
#news .news_slider .news_item .news_details .news_content p, #news .news_slider .news_item .news_details .news_content h6 {
  font-size: 14px;
  font-weight: 400;
  color: #003F62;
}
#news .news_slider .news_item .news_details .news_content p {
  padding-bottom: 40px;
}
#news .news_slider .slick-dots {
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}
#news .news_slider .slick-dots li.slick-active button {
  background: #EDA415;
  border-color: #EDA415;
}
#news .news_slider .slick-dots li button {
  width: 19px;
  margin: 0 5px;
  height: 19px;
  border: 1px solid #ADADAD;
  border-radius: 50%;
  font-size: 0;
}

/* ============================== News Part End =================================== */
/* ============================== Footer Part Start =================================== */
#footer {
  padding: 42px 0;
  background: #E2F4FF;
}
#footer .subscribe {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 38px 95px;
}
#footer .subscribe h4 {
  font-size: 30px;
  font-weight: 700;
  color: #003F62;
}
#footer .subscribe .input-group input {
  background: #EDA415;
  border: none;
  padding: 12px 25px;
  border-radius: 20px 0 0 20px;
  color: #fff;
}
#footer .subscribe .input-group input::-moz-placeholder {
  color: #fff;
}
#footer .subscribe .input-group input:-ms-input-placeholder {
  color: #fff;
}
#footer .subscribe .input-group input::placeholder {
  color: #fff;
}
#footer .subscribe .input-group input:focus {
  box-shadow: none;
}
#footer .subscribe .input-group button {
  padding: 12px 25px;
  border-radius: 0 20px 20px 0;
  background: #EDA415;
  color: #fff;
  border: none;
}
#footer .subscribe .contact_us {
  display: flex;
  justify-content: end;
  align-items: center;
}
#footer .subscribe .contact_us .icon {
  padding-right: 10px;
}
#footer .subscribe .contact_us .icon i {
  font-size: 35px;
  color: #EDA415;
}
#footer .subscribe .contact_us .contact_list h6, #footer .subscribe .contact_us .contact_list p {
  font-size: 14px;
  font-weight: 600;
  color: #606060;
}
#footer .footer_contents {
  padding-top: 40px;
}
#footer .footer_contents .footer_left p {
  padding-top: 40px;
  font-size: 17px;
  font-weight: 400;
  color: #003F62;
}
#footer .footer_contents .footer_left ul {
  padding-top: 60px;
  display: flex;
  position: relative;
}
#footer .footer_contents .footer_left ul::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 1px;
  background: #9D9D9D;
  top: 30px;
  left: 0;
}
#footer .footer_contents .footer_left ul li {
  padding-right: 40px;
}
#footer .footer_contents .footer_menu h4 {
  font-size: 20px;
  font-weight: 600;
  color: #003F62;
  padding-bottom: 15px;
}
#footer .footer_contents .footer_menu ul li {
  padding: 0 0 15px 20px;
  position: relative;
}
#footer .footer_contents .footer_menu ul li a {
  font-size: 20px;
  font-weight: 400;
  color: #003F62;
}
#footer .footer_contents .footer_menu ul li::after {
  position: absolute;
  content: "";
  top: 12px;
  left: 0;
  width: 10px;
  height: 10px;
  background: #D9D9D9;
  border-radius: 50%;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
#footer .footer_contents .footer_menu ul li:hover::after {
  background: #EDA415;
}

/* ============================== Footer Part End =================================== */
#shop {
  padding: 60px 0;
}
#shop .side_filter .filters_item {
  padding-top: 15px;
  border-bottom: 1px solid #BDBDBD;
}
#shop .side_filter .filters_item .filter_header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
#shop .side_filter .filters_item .filter_header h4 {
  font-size: 16px;
  font-weight: 500;
  color: #003F62;
}
#shop .side_filter .filters_item .filter_header a {
  font-size: 16px;
  font-weight: 400;
  color: #595959;
}
#shop .side_filter .filters_item ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
#shop .side_filter .filters_item ul li.disble {
  opacity: 20%;
}
#shop .side_filter .filters_item ul li .input-checkbox {
  display: flex;
  align-items: center;
}
#shop .side_filter .filters_item ul li .input-checkbox input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid transparent;
  width: 20px;
  height: 20px;
  background: #B3D4E5;
  border-radius: 8px;
  margin-right: 10px;
}
#shop .side_filter .filters_item ul li .input-checkbox input[type=checkbox]:checked {
  background: #3F3F3F;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
  border: 2px solid #A5A5A5;
}
#shop .side_filter .filters_item ul li .input-checkbox label {
  font-size: 16px;
  font-weight: 400;
  color: #222;
}
#shop .side_filter .filters_item.color ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#shop .side_filter .filters_item.color ul li a .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
#shop .product_list .product_details {
  border: 1px solid #B6B6B6;
  border-radius: 20px;
  height: 315px;
  margin-bottom: 30px;
}
#shop .product_list .product_details .product_img {
  text-align: center;
  position: relative;
}
#shop .product_list .product_details .product_img .ovrly {
  position: absolute;
  top: 10px;
  right: 20px;
}
#shop .product_list .product_details .product_img .ovrly a {
  background: #B3D4E5;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  color: #292D32;
}
#shop .product_list .product_details .pricing_stars {
  padding: 22px 13px;
}
#shop .product_list .product_details .pricing_stars h6 {
  font-size: 18px;
  font-weight: 500;
  color: #003F62;
  padding-bottom: 15px;
}
#shop .product_list .product_details .pricing_stars p {
  font-size: 18px;
  font-weight: 600;
  color: #4A4A4A;
  padding-bottom: 15px;
}
#shop .product_list .product_details .pricing_stars p del {
  font-size: 12px;
  font-weight: 300;
  color: #4A4A4A;
}
#shop .product_list .product_details .pricing_stars i {
  color: #EDA415;
  font-size: 16px;
}
#shop .product_list .product_details .adding_card {
  margin-top: 20px;
  padding: 22px 10px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  display: none;
}
#shop .product_list .product_details .adding_card a.add_cart {
  background: #87BCD9;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #272727;
}
#shop .product_list .product_details .adding_card a.add_cart i {
  margin-left: 20px;
  padding: 1px 5px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  color: #fff;
  background: #EDA415;
  border-radius: 50%;
}
#shop .product_list .product_details .adding_card a.visible {
  padding: 10px 15px;
  background: #87BCD9;
  border-radius: 20px;
}
#shop .product_list .product_details .adding_card a.visible i {
  color: #272727;
  font-size: 18px;
}
#shop .product_list .product_details:hover .pricing_stars {
  display: none;
}
#shop .product_list .product_details:hover .adding_card {
  display: inline-block;
}
#shop .side_filter_mobile {
  display: none;
}
#shop .side_filter_mobile .wish {
  float: right;
  background: #003F62;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  border: none;
  padding: 0.375rem 0.75rem;
  border-radius: 5px;
}
#shop .side_filter_mobile .shop_offcanvas {
  padding: 20px;
}
#shop .side_filter_mobile .shop_offcanvas .mobile_shop_header p {
  font-size: 16px;
  font-weight: 600;
  color: #EDA415;
}
#shop .side_filter_mobile .shop_offcanvas .mobile_shop_body .filters_item {
  padding-top: 15px;
  border-bottom: 1px solid #BDBDBD;
}
#shop .side_filter_mobile .shop_offcanvas .mobile_shop_body .filters_item .filter_header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
#shop .side_filter_mobile .shop_offcanvas .mobile_shop_body .filters_item .filter_header h4 {
  font-size: 16px;
  font-weight: 500;
  color: #003F62;
}
#shop .side_filter_mobile .shop_offcanvas .mobile_shop_body .filters_item .filter_header a {
  font-size: 16px;
  font-weight: 400;
  color: #595959;
}
#shop .side_filter_mobile .shop_offcanvas .mobile_shop_body .filters_item ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
#shop .side_filter_mobile .shop_offcanvas .mobile_shop_body .filters_item ul li.disble {
  opacity: 20%;
}
#shop .side_filter_mobile .shop_offcanvas .mobile_shop_body .filters_item ul li .input-checkbox {
  display: flex;
  align-items: center;
}
#shop .side_filter_mobile .shop_offcanvas .mobile_shop_body .filters_item ul li .input-checkbox input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid transparent;
  width: 20px;
  height: 20px;
  background: #B3D4E5;
  border-radius: 8px;
  margin-right: 10px;
}
#shop .side_filter_mobile .shop_offcanvas .mobile_shop_body .filters_item ul li .input-checkbox input[type=checkbox]:checked {
  background: #3F3F3F;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
  border: 2px solid #A5A5A5;
}
#shop .side_filter_mobile .shop_offcanvas .mobile_shop_body .filters_item ul li .input-checkbox label {
  font-size: 16px;
  font-weight: 400;
  color: #222;
}
#shop .side_filter_mobile .shop_offcanvas .mobile_shop_body .filters_item.color ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#shop .side_filter_mobile .shop_offcanvas .mobile_shop_body .filters_item.color ul li a .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

/* ============================== Product Details Part Start =================================== */
#product_details {
  padding-bottom: 80px;
}
#product_details .product_images .product_preview {
  padding: 20px;
  border: 1px solid #ACACAC;
  border-radius: 20px;
  margin-bottom: 20px;
}
#product_details .product_images .product_preview img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#product_details .product_images .product_thumbnail {
  padding: 20px;
  border: 1px solid #ACACAC;
  border-radius: 20px;
  text-align: center;
}
#product_details .product_images .product_thumbnail img {
  width: 70% !important;
}
#product_details .product_detail .title {
  padding-bottom: 10px;
}
#product_details .product_detail .title h6 {
  font-size: 30px;
  font-weight: 500;
  color: #003F62;
}
#product_details .product_detail .price {
  padding-bottom: 20px;
}
#product_details .product_detail .price p {
  font-size: 30px;
  font-weight: 600;
  color: #4A4A4A;
}
#product_details .product_detail .price p del {
  font-size: 20px;
  font-weight: 400;
  color: #4A4A4A;
}
#product_details .product_detail .stars {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}
#product_details .product_detail .stars i {
  margin-right: 10px;
  color: #EDA415;
  font-size: 25px;
}
#product_details .product_detail .stars p {
  font-size: 14px;
  font-weight: 500;
  color: #4A4A4A;
  line-height: 32px;
}
#product_details .product_detail .availability {
  padding-bottom: 15px;
}
#product_details .product_detail .availability p {
  font-size: 18px;
  font-weight: 500;
  color: #232323;
}
#product_details .product_detail .availability p span {
  color: #30BD57;
}
#product_details .product_detail .availability p span i {
  padding: 0 15px;
}
#product_details .product_detail .short_desp {
  padding-bottom: 50px;
  position: relative;
}
#product_details .product_detail .short_desp p {
  font-size: 16px;
  font-weight: 400;
  color: #5D5D5D;
}
#product_details .product_detail .short_desp::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 15px;
  background: #BDBDBD;
  width: 100%;
  height: 1px;
}
#product_details .product_detail .color_list {
  display: flex;
  align-items: center;
  padding-bottom: 25px;
}
#product_details .product_detail .color_list p {
  font-size: 19px;
  font-weight: 400;
  color: #232323;
}
#product_details .product_detail .color_list .form-check {
  transform: translateY(4px);
  padding: 0 !important;
  margin: 0 10px;
}
#product_details .product_detail .color_list .form-check .form-option-label {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
#product_details .product_detail .color_list .form-check .form-option-label::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 27px;
  height: 27px;
  border-radius: 50%;
  border: 1px solid transparent;
}
#product_details .product_detail .color_list .form-check .form-check-input:checked ~ .form-option-label::after {
  border: 1px solid #AFAFAF;
}
#product_details .product_detail .color_list .form-check .form-check-input {
  transform: scale(0);
}
#product_details .product_detail .size_list {
  display: flex;
  align-items: center;
}
#product_details .product_detail .size_list p {
  font-size: 16px;
  font-weight: 400;
  color: #232323;
  line-height: 34px;
}
#product_details .product_detail .size_list .form-check {
  transform: translateY(4px);
  padding: 0 !important;
  margin: 0 10px;
}
#product_details .product_detail .size_list .form-check .form-option-label {
  width: 63px;
  height: 32px;
  background: #EEEEEE;
  border: 1px solid transparent;
  text-align: center;
  line-height: 32px;
  font-size: 19px;
  font-weight: 500;
  color: #434343;
  cursor: pointer;
}
#product_details .product_detail .size_list .form-check .form-check-input:checked ~ .form-option-label {
  border: 1px solid #434343;
}
#product_details .product_detail .size_list .form-check .form-check-input {
  transform: scale(0);
}
#product_details .product_detail .quantity_wrap {
  display: flex;
  margin: 30px 0;
  align-items: center;
  justify-content: space-between;
}
#product_details .product_detail .quantity_wrap .quantity_input {
  position: relative;
}
#product_details .product_detail .quantity_wrap .quantity_input:before {
  font-weight: 500;
  margin-right: 10px;
  content: "Quantity:";
  color: #003F62;
  display: inline-block;
}
#product_details .product_detail .quantity_wrap .quantity_input input {
  height: 40px;
  margin: 0 4px;
  width: 100px;
  text-align: center;
}
#product_details .product_detail .quantity_wrap .quantity_input button {
  width: 40px;
  line-height: 40px;
  height: 40px;
  background: #EDA415;
  border: none;
  color: #fff;
  font-weight: 800;
}
#product_details .product_detail .buttons {
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  position: relative;
}
#product_details .product_detail .buttons::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 15px;
  background: #BDBDBD;
  width: 100%;
  height: 1px;
}
#product_details .product_detail .buttons a {
  margin-right: 20px;
}
#product_details .product_detail .buttons .btn {
  padding: 15px 30px !important;
  border-radius: 25px;
}
#product_details .product_detail .buttons .wishlist {
  width: 55px;
  height: 55px;
  background: #EEEEEE;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#product_details .product_detail .buttons .wishlist i {
  color: #292D32;
  font-size: 25px;
}
#product_details .product_detail .product_type p {
  padding-bottom: 15px;
  font-size: 19px;
  font-weight: 500;
  color: #232323;
}
#product_details .product_detail .product_type p span {
  color: #434343;
  padding-left: 20px;
}
#product_details .product_detail .product_type ul {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
}
#product_details .product_detail .product_type ul li:first-child {
  font-size: 19px;
  font-weight: 500;
  color: #232323;
  padding: 0 0;
  transform: translateY(-2px);
}
#product_details .product_detail .product_type ul li a {
  font-size: 14px;
  font-weight: 400;
  color: #434343;
  padding: 0 20px;
}
#product_details .product_detail .share {
  display: flex;
  align-items: center;
}
#product_details .product_detail .share p {
  font-size: 19px;
  font-weight: 500;
  color: #232323;
  padding-right: 10px;
}
#product_details .product_detail .share ul {
  display: flex;
}
#product_details .product_detail .share ul li {
  margin-right: 20px;
}

/* ============================== Product Details Part End =================================== */
/* ============================== Reviews & Description  Part Start =================================== */
#reviews_desp {
  padding-bottom: 60px;
}
#reviews_desp .revews_desp_navbar ul {
  justify-content: center;
}
#reviews_desp .revews_desp_navbar ul li {
  margin: 0 10px;
}
#reviews_desp .revews_desp_navbar ul li button {
  border: 1px solid #8F8F8F;
  border-radius: 20px;
  padding: 15px 34px;
  font-size: 20px;
  font-weight: 500;
  color: #373737;
}
#reviews_desp .revews_desp_navbar ul li button.active {
  background: #003F62;
  color: #fff;
  border-color: #003F62;
}
#reviews_desp .revews_desp_content .description,
#reviews_desp .revews_desp_content .reviews {
  padding: 42px 50px;
  border: 1px solid #B8B8B8;
  border-radius: 20px;
}
#reviews_desp .revews_desp_content .description h2,
#reviews_desp .revews_desp_content .reviews h2 {
  font-size: 22px;
  font-weight: 600;
  color: #003F62;
}
#reviews_desp .revews_desp_content .description p,
#reviews_desp .revews_desp_content .reviews p {
  padding: 17px 0;
  font-size: 20px;
  font-weight: 400;
  color: #4F4F4F;
}
#reviews_desp .revews_desp_content .description a,
#reviews_desp .revews_desp_content .reviews a {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-decoration: underline;
  padding: 5px 28px;
  background: #003F62;
}

/* ============================== Reviews & Description  Part End =================================== */
/* ============================== Related Product Part Start =================================== */
#related_product {
  padding-bottom: 100px;
}
#related_product h2 {
  font-size: 28px;
  font-weight: 600;
  color: #1B5A7D;
  padding-bottom: 55px;
}
#related_product .related_product_details {
  border: 1px solid #B6B6B6;
  border-radius: 20px;
  height: 315px;
  margin-bottom: 30px;
  padding-top: 10px;
}
#related_product .related_product_details .product_img {
  text-align: center;
  position: relative;
}
#related_product .related_product_details .product_img .ovrly {
  position: absolute;
  top: 10px;
  right: 20px;
}
#related_product .related_product_details .product_img .ovrly a {
  background: #B3D4E5;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  color: #292D32;
}
#related_product .related_product_details .pricing_stars {
  padding: 22px 13px;
}
#related_product .related_product_details .pricing_stars h6 {
  font-size: 18px;
  font-weight: 500;
  color: #003F62;
  padding-bottom: 15px;
}
#related_product .related_product_details .pricing_stars p {
  font-size: 18px;
  font-weight: 600;
  color: #4A4A4A;
  padding-bottom: 15px;
}
#related_product .related_product_details .pricing_stars p del {
  font-size: 12px;
  font-weight: 300;
  color: #4A4A4A;
}
#related_product .related_product_details .pricing_stars i {
  color: #EDA415;
  font-size: 16px;
}
#related_product .related_product_details .adding_card {
  margin-top: 20px;
  padding: 22px 10px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  display: none;
}
#related_product .related_product_details .adding_card a.add_cart {
  background: #87BCD9;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #272727;
}
#related_product .related_product_details .adding_card a.add_cart i {
  margin-left: 20px;
  padding: 1px 5px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  color: #fff;
  background: #EDA415;
  border-radius: 50%;
}
#related_product .related_product_details .adding_card a.visible {
  padding: 10px 15px;
  background: #87BCD9;
  border-radius: 20px;
}
#related_product .related_product_details .adding_card a.visible i {
  color: #272727;
  font-size: 18px;
}
#related_product .related_product_details:hover .pricing_stars {
  display: none;
}
#related_product .related_product_details:hover .adding_card {
  display: inline-block;
}

/* ============================== Related Product Part End =================================== */
/* ============================== Checkout Part Start =================================== */
#cart .cart_table .my-table thead {
  background: #E2F4FF !important;
}
#cart .cart_table .my-table thead tr td {
  font-size: 20px;
  font-weight: 500;
  color: #232323;
}
#cart .cart_table .my-table tbody tr td {
  font-size: 22px;
  font-weight: 500;
  color: #2f2f2f;
  vertical-align: middle;
}
#cart .cart_table .my-table tbody tr td:first-child {
  width: 40%;
}
#cart .cart_table .my-table tbody tr td .product_details {
  display: flex;
}
#cart .cart_table .my-table tbody tr td .product_details .product_img {
  width: 40%;
  margin-right: 15px;
}
#cart .cart_table .my-table tbody tr td .product_details .product_img img {
  width: 100%;
  max-width: 100%;
}
#cart .cart_table .my-table tbody tr td .product_details .product_content {
  align-self: center;
}
#cart .cart_table .my-table tbody tr td .product_details .product_content h6 {
  font-size: 20px;
  font-weight: 600;
  color: #003F62;
  padding-bottom: 10px;
}
#cart .cart_table .my-table tbody tr td .product_details .product_content p {
  font-size: 20px;
  font-weight: 400;
  color: #2F2F2F;
}
#cart .cart_table .my-table tbody tr td .quantity_wrap {
  display: flex;
  margin: 30px 0;
  align-items: center;
  justify-content: space-between;
}
#cart .cart_table .my-table tbody tr td .quantity_wrap .quantity_input {
  display: flex;
}
#cart .cart_table .my-table tbody tr td .quantity_wrap .quantity_input input {
  height: 40px;
  width: 50px;
  text-align: center;
  color: #434343;
  background: #F2F2F2 !important;
  border: 1px solid #BDBDBD !important;
}
#cart .cart_table .my-table tbody tr td .quantity_wrap .quantity_input button {
  width: 40px;
  line-height: 40px;
  height: 40px;
  background: #EDA415;
  border: none;
  color: #434343;
  font-weight: 800;
  background: #F2F2F2 !important;
  border: 1px solid #BDBDBD !important;
}
#cart .cart_table .my-table tbody tr td a {
  width: 24px;
  height: 24px;
  border: 1px solid #292D32;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cart .cart_table .my-table tbody tr td a i {
  color: #292D32;
  font-size: 12px;
}
#cart .buttons {
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#cart .buttons a {
  padding: 15px 45px;
  font-weight: 600;
  border-radius: 25px;
}
#cart .checkout .card .card-header {
  text-align: center;
  background: #E2F4FF;
}
#cart .checkout .card .card-header h2 {
  font-size: 20px;
  font-weight: 500;
  color: #232323;
}
#cart .checkout .card .card-body {
  padding: 20px 35px;
}
#cart .checkout .card .card-body .sub_total, #cart .checkout .card .card-body .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#cart .checkout .card .card-body .sub_total {
  padding-bottom: 50px;
  position: relative;
}
#cart .checkout .card .card-body .sub_total p {
  font-size: 20px;
  font-weight: 500;
  color: #232323;
}
#cart .checkout .card .card-body .sub_total h6 {
  font-size: 20px;
  font-weight: 500;
  color: #232323;
}
#cart .checkout .card .card-body .sub_total::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 25px;
  background: #BDBDBD;
  width: 100%;
  height: 1px;
}
#cart .checkout .card .card-body .total {
  padding: 30px 0;
}
#cart .checkout .card .card-body .total p {
  font-size: 16px;
  font-weight: 400;
  color: #232323;
}
#cart .checkout .card .card-body .total h6 {
  font-size: 16px;
  font-weight: 400;
  color: #232323;
}
#cart .checkout .card .card-body .input-group {
  padding-bottom: 50px;
  position: relative;
}
#cart .checkout .card .card-body .input-group::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 25px;
  background: #BDBDBD;
  width: 100%;
  height: 1px;
}
#cart .checkout .card .card-body .input-group input {
  padding: 8px 18px;
  font-size: 16px;
  font-weight: 400;
  color: #232323;
  border: 1px solid #DFDFDF;
  border-radius: 20px 0 0 20px;
}
#cart .checkout .card .card-body .input-group input::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #232323;
}
#cart .checkout .card .card-body .input-group input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #232323;
}
#cart .checkout .card .card-body .input-group input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #232323;
}
#cart .checkout .card .card-body .input-group button {
  border: 1px solid #DFDFDF;
  border-radius: 0 20px 20px 0;
  font-size: 16px;
  font-weight: 400;
  color: #003F62;
  padding: 8px 18px;
  background: #fff;
}
#cart .checkout .card .card-body select {
  border: 1px solid #DFDFDF;
  border-radius: 20px;
  padding: 14px 23px;
}
#cart .checkout .card .card-body .btn {
  width: 100%;
  padding: 10px 0;
  border-radius: 25px;
}

/* ============================== Checkout Part End =================================== *//*# sourceMappingURL=style.css.map */